Bonus.BusinessServices/Service References/WsBonusDistritos/wslisdis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="AppBonus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="AppBonus" xmlns:tns1="AppBonus" name="wslisdis" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:complexType name="Lisdis">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Lisdis.LisdisItem" type="tns1:Lisdis.LisdisItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lisdis.LisdisItem">
        <xsd:all>
          <xsd:element name="DistCod" type="xsd:string" />
          <xsd:element name="DistDes" type="xsd:string" />
          <xsd:element name="DistCodPos" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="wslisdis.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Dptocod" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Provcod" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wslisdis.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Lista" type="tns1:Lisdis" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wslisdis.ExecuteSoapIn">
    <part name="parameters" element="tns1:wslisdis.Execute" />
  </message>
  <message name="wslisdis.ExecuteSoapOut">
    <part name="parameters" element="tns1:wslisdis.ExecuteResponse" />
  </message>
  <portType name="wslisdisSoapPort">
    <operation name="Execute">
      <input message="tns1:wslisdis.ExecuteSoapIn" />
      <output message="tns1:wslisdis.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wslisdisSoapBinding" type="tns1:wslisdisSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSLISDIS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wslisdis">
    <port name="wslisdisSoapPort" binding="tns1:wslisdisSoapBinding">
      <soap:address location="http://200.62.147.188:8080/app/servlet/awslisdis" />
    </port>
  </service>
</definitions>