Bonus.BusinessServices/Service References/WsBonusInsertarToken/wsinstoken.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="AppBonus" xmlns:wsdlns="AppBonus" name="wsinstoken" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:element name="wsinstoken.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Userid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Authtoken" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Issuedon" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Expireson" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsinstoken.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Coderror" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Msjerror" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wsinstoken.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wsinstoken.Execute" />
  </message>
  <message name="wsinstoken.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wsinstoken.ExecuteResponse" />
  </message>
  <portType name="wsinstokenSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wsinstoken.ExecuteSoapIn" />
      <output message="wsdlns:wsinstoken.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wsinstokenSoapBinding" type="wsdlns:wsinstokenSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSINSTOKEN.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsinstoken">
    <port name="wsinstokenSoapPort" binding="wsdlns:wsinstokenSoapBinding">
      <soap:address location="http://200.62.147.188:8080/app/servlet/awsinstoken" />
    </port>
  </service>
</definitions>