Bonus.BusinessServices/Service References/WsBonusExisteClienteBonus/wsexiclibo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="AppBonus" xmlns:wsdlns="AppBonus" name="wsexiclibo" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:element name="wsexiclibo.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tipdoccod" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Prsnrodoc" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsexiclibo.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Coderror" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Msjerror" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Prscod" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Tipdatcli" type="xsd:byte" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wsexiclibo.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wsexiclibo.Execute" />
  </message>
  <message name="wsexiclibo.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wsexiclibo.ExecuteResponse" />
  </message>
  <portType name="wsexicliboSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wsexiclibo.ExecuteSoapIn" />
      <output message="wsdlns:wsexiclibo.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wsexicliboSoapBinding" type="wsdlns:wsexicliboSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSEXICLIBO.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsexiclibo">
    <port name="wsexicliboSoapPort" binding="wsdlns:wsexicliboSoapBinding">
      <soap:address location="http://190.81.126.75:8080/bonusTabletD/servlet/awsexiclibo" />
    </port>
  </service>
</definitions>