Bonus.BusinessServices/Service References/WsBonusActualizarToken/wsacttoken.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="AppBonus" xmlns:wsdlns="AppBonus" name="wsacttoken" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:element name="wsacttoken.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Authtoken" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Expireson" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsacttoken.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Coderror" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Msjerror" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wsacttoken.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wsacttoken.Execute" />
  </message>
  <message name="wsacttoken.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wsacttoken.ExecuteResponse" />
  </message>
  <portType name="wsacttokenSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wsacttoken.ExecuteSoapIn" />
      <output message="wsdlns:wsacttoken.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wsacttokenSoapBinding" type="wsdlns:wsacttokenSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSACTTOKEN.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsacttoken">
    <port name="wsacttokenSoapPort" binding="wsdlns:wsacttokenSoapBinding">
      <soap:address location="http://200.62.147.188:8080/app/servlet/awsacttoken" />
    </port>
  </service>
</definitions>