Bonus.BusinessServices/Service References/WsBonusProvincias/wslispro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="AppBonus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="AppBonus" xmlns:tns1="AppBonus" name="wslispro" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:complexType name="Lispro">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Lispro.LisproItem" type="tns1:Lispro.LisproItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lispro.LisproItem">
        <xsd:all>
          <xsd:element name="ProvCod" type="xsd:string" />
          <xsd:element name="ProvDes" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="wslispro.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Dptocod" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wslispro.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Lista" type="tns1:Lispro" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wslispro.ExecuteSoapIn">
    <part name="parameters" element="tns1:wslispro.Execute" />
  </message>
  <message name="wslispro.ExecuteSoapOut">
    <part name="parameters" element="tns1:wslispro.ExecuteResponse" />
  </message>
  <portType name="wslisproSoapPort">
    <operation name="Execute">
      <input message="tns1:wslispro.ExecuteSoapIn" />
      <output message="tns1:wslispro.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wslisproSoapBinding" type="tns1:wslisproSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSLISPRO.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wslispro">
    <port name="wslisproSoapPort" binding="tns1:wslisproSoapBinding">
      <soap:address location="http://200.62.147.188:8080/app/servlet/awslispro" />
    </port>
  </service>
</definitions>