Bonus.BusinessServices/Service References/WsBonusObtenerCountTokenPorUsuario/wsobtctous.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="AppBonus" xmlns:wsdlns="AppBonus" name="wsobtctous" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:element name="wsobtctous.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Userid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsobtctous.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Count" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Coderror" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Msjerror" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wsobtctous.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wsobtctous.Execute" />
  </message>
  <message name="wsobtctous.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wsobtctous.ExecuteResponse" />
  </message>
  <portType name="wsobtctousSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wsobtctous.ExecuteSoapIn" />
      <output message="wsdlns:wsobtctous.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wsobtctousSoapBinding" type="wsdlns:wsobtctousSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSOBTCTOUS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsobtctous">
    <port name="wsobtctousSoapPort" binding="wsdlns:wsobtctousSoapBinding">
      <soap:address location="http://200.62.147.188:8080/app/servlet/awsobtctous" />
    </port>
  </service>
</definitions>