Bonus.BusinessServices/Service References/WsBonusEliminarToken/wselitoken.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="AppBonus" xmlns:wsdlns="AppBonus" name="wselitoken" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:element name="wselitoken.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Authtoken" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wselitoken.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Coderror" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Msjerror" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wselitoken.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wselitoken.Execute" />
  </message>
  <message name="wselitoken.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wselitoken.ExecuteResponse" />
  </message>
  <portType name="wselitokenSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wselitoken.ExecuteSoapIn" />
      <output message="wsdlns:wselitoken.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wselitokenSoapBinding" type="wsdlns:wselitokenSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSELITOKEN.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wselitoken">
    <port name="wselitokenSoapPort" binding="wsdlns:wselitokenSoapBinding">
      <soap:address location="http://200.62.147.188:8080/app/servlet/awselitoken" />
    </port>
  </service>
</definitions>