Bonus.BusinessServices/Service References/WsBonusObtenerToken/wsobttoken.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="AppBonus" xmlns:wsdlns="AppBonus" name="wsobttoken" targetNamespace="AppBonus" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="AppBonus">
      <xsd:element name="wsobttoken.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Authtoken" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Currentdate" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsobttoken.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Coderror" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Msjerror" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Tokenid" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Userid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Issuedon" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Expireson" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wsobttoken.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wsobttoken.Execute" />
  </message>
  <message name="wsobttoken.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wsobttoken.ExecuteResponse" />
  </message>
  <portType name="wsobttokenSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wsobttoken.ExecuteSoapIn" />
      <output message="wsdlns:wsobttoken.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wsobttokenSoapBinding" type="wsdlns:wsobttokenSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="AppBonusaction/AWSOBTTOKEN.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsobttoken">
    <port name="wsobttokenSoapPort" binding="wsdlns:wsobttokenSoapBinding">
      <soap:address location="http://200.62.147.188:8080/app/servlet/awsobttoken" />
    </port>
  </service>
</definitions>